<html>
  <head>
    <title>Account activated!</title>
    <meta
      name="viewport"
      content="initial-scale=1.0001, minimum-scale=1.0001, maximum-scale=1.0001, user-scalable=no"
    />
    <link rel="stylesheet" type="text/css" href="/gate.css" />
  </head>

  <body>
    <div class="container">
      <div class="item">
        <blockquote class="speech bubble">
          <small>Account activated!</small><br />
          Welcome to the Zircon&nbsp;Network!<br />
          <i>(you can close this window)</i>
        </blockquote>
        <img
          src="https://znwcore.b-cdn.net/pino_happy.gif"
          alt="https://znwcore.b-cdn.net/pino_happy.gif"
        />
      </div>
    </div>
  </body>
</html>
